.search_back{width:100%; height:auto; background:#f7f7f6;}
.serch_goods{width:800px; height:auto; margin-left:300px;border-top:#b5b5b5 2px solid;}
.search_pag{width:800px; height:200px; margin-left:300px;padding-top:100px;}
.mpro{ width:242px; height:314px; margin:10px 7px 0px 7px;}
.mpro_tp{width:180px; height:220px; padding:8px;}
.shu{width:180px; height:220px;}
.mpro_con{ width:180px; height:78px; font-size:13px;margin-top:13px;}

